<div class="row" *ngIf="type === 'grid'">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let item of items" [class.hidden]="filter === 'fav' && !item.favourite">
    <div class="card">
      <div class="card-img">
        <img src="{{item.data.images.thumbnails[0].url}}" alt="Item ID: {{item.id}}">
      </div>
      <div class="card-block">
        <div class="card-text">
          <span class="float-xs-right">{{item.data.created_at|date:"mediumDate"}}</span>
          <strong *ngIf="item.data.title">{{item.data.title}}</strong>
          <em *ngIf="!item.data.title">Untitled</em>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm" [ngClass]="{'btn-link':!item.favourite, 'btn-primary':item.favourite}" (click)="toggleFavourite(item)">
          <ng-container *ngIf="!item.favourite">Add to favourite</ng-container>
          <ng-container *ngIf="item.favourite">Favourite</ng-container>
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-8" *ngIf="filter === 'fav' && noFavourites">
    <table class="table">
      <tbody>
        <tr>
          <td>
            Nothing to show
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row" *ngIf="type === 'list'">
  <div class="col-lg-8">
    <table class="table">
      <tbody>
      <tr *ngFor="let item of items" [class.hidden]="filter === 'fav' && !item.favourite">
        <td class="align-middle left">
          <strong *ngIf="item.data.title">{{item.data.title}}</strong>
          <em *ngIf="!item.data.title">Untitled</em>
        </td>
        <td class="align-middle left">{{item.data.created_at|date:"mediumDate"}}</td>
        <td class="text-right">
          <button class="btn btn-sm hidden-xs-down" [class.btn-primary]="item.favourite" (click)="toggleFavourite(item)">
            <ng-container *ngIf="!item.favourite">Add to favourite</ng-container>
            <ng-container *ngIf="item.favourite">Favourite</ng-container>
          </button>
          <button class="btn btn-sm hidden-sm-up" [class.btn-primary]="item.favourite" (click)="toggleFavourite(item)">
            <ng-container *ngIf="!item.favourite">Add</ng-container>
            <ng-container *ngIf="item.favourite">Fav.</ng-container>
          </button>
        </td>
      </tr>
      <tr *ngIf="filter === 'fav' && noFavourites">
        <td>Nothing to show</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
